<div id="experiences" class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-center text-base/7 font-semibold text-indigo-600">
            Raúl Rosales
        </h2>
        <p
            class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
        >
            Profesor de Artes Visuales y Tecnología Educativa
        </p>
        <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
            <div class="relative lg:row-span-2">
                <div
                    class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
                >
                    <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Raúl Rosales R.
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Con más de 20 años de experiencia en la enseñanza y
                            creación artística, he desarrollado un enfoque
                            innovador que integra el arte, la tecnología y el
                            cine en el aprendizaje. Mi trayectoria profesional
                            abarca la educación en diversos establecimientos de
                            la Región Metropolitana de Chile, promoviendo
                            metodologías creativas que estimulan la expresión
                            visual y el pensamiento crítico en los estudiantes.
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Este espacio es una muestra de mi labor docente y
                            creativa, donde el arte se convierte en una
                            herramienta para transformar la educación.
                        </p>
                    </div>
                    <div
                        class="@container relative min-h-[30rem] w-full grow max-lg:mx-auto max-lg:max-w-sm"
                    >
                        <div
                            class="absolute inset-x-10 top-10 bottom-0 overflow-hidden bg-gray-900 shadow-2xl mb-6"
                        >
                            <img
                                class="size-full object-cover object-top"
                                src="/src/assets/images/planificaciones.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-l-[2rem]"
                >
                </div>
            </div>
            <div class="relative max-lg:row-start-1">
                <div
                    class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
                >
                    <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Experiencia Profesional
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Actualmente, me desempeño como profesor titular de
                            Artes Visuales en el Liceo Municipal Pablo Neruda,
                            donde acompaño a los jóvenes en la exploración del
                            arte contemporáneo, sus medios de difusión y la
                            educación artística, fomentando el desarrollo de
                            proyectos visuales que conectan con su entorno y
                            cultura.
                        </p>
                    </div>
                    <div
                        class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2"
                    >
                        <img
                            class="w-full max-lg:max-w-xs"
                            src="/src/assets/images/proyectos.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"
                >
                </div>
            </div>
            <div
                class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2"
            >
                <div class="absolute inset-px rounded-lg bg-white"></div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]"
                >
                    <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Mi Compromiso
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Mi compromiso es potenciar la creatividad y la
                            experimentación en el arte, promoviendo el uso de
                            herramientas digitales y tecnológicas para
                            enriquecer la experiencia de aprendizaje de los
                            estudiantes. Siempre estoy en búsqueda de nuevas
                            estrategias que combinen el arte y la educación para
                            generar un impacto significativo en mis estudiantes
                            y en la comunidad educativa.
                        </p>
                    </div>
                    <div
                        class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2"
                    >
                        <img
                            class="w-full max-lg:max-w-xs mt-4 mb-4"
                            src="/src/assets/images/experiencia.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"
                >
                </div>
            </div>
            <div class="relative lg:row-span-2">
                <div
                    class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
                >
                    <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Formación Académica y Especializaciones
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Magíster en Innovación Curricular y Evaluación
                            Educativa. Universidad del Desarrollo (2013)
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Postítulo en Educación Tecnológica. Universidad Viña
                            del Mar (2009)
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Licenciado en Educación y Pedagogía en Artes
                            Plásticas. Universidad Metropolitana de Ciencias de
                            la Educación (2005)
                        </p>
                    </div>
                    <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Capacitaciones y Cursos Destacados
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Cine para Educadores: Apreciación y Creación.
                            Cineteca Nacional de Chile (2024)
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Estrategias de Comprensión Lectora. Educrea (2024)
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Metodología activas con uso de TICs. Universidad de
                            la Frontera (2023)
                        </p>
                    </div>
                    <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"
                        >
                            Áreas de Especialización
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Arte contemporáneo y educación artística.
                            Exploración de técnicas modernas y su aplicación en
                            la educación.
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Producción audiovisual y cine independiente.
                            Creación de proyectos audiovisuales con enfoque
                            educativo.
                        </p>
                        <p
                            class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center"
                        >
                            Desarrollo web y tecnología educativa. Uso de
                            herramientas digitales para enriquecer el
                            aprendizaje.
                        </p>
                    </div>
                    <div
                        class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2"
                    >
                        <img
                            class="w-full max-lg:max-w-xs mt-4 mb-4"
                            src="/src/assets/images/raulRosales.jpg"
                            alt=""
                        />
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
                >
                </div>
            </div>
        </div>
    </div>
</div>
