---
// src/pages/tecnicas.astro
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import 'aos/dist/aos.css';

import pintura from '../assets/images/pintura.jpg';
import collage from '../assets/images/collage.jpg';
import audiovisual from '../assets/images/audiovisual.jpg';
import mosaico from '../assets/images/mosaico.jpg';
import volumen from '../assets/images/volumen.jpg';
import mascaras from '../assets/images/mascara.jpg';
import lamparas from '../assets/images/lamparas.jpg';
import diseño from '../assets/images/diseño.jpg';
import dibujo from '../assets/images/dibujo.jpg';

const tecnicas = [
  { nombre: "Pintura", imagen: pintura, url: "/tecnicas/pintura" },
  { nombre: "Collage", imagen: collage, url: "/tecnicas/collage" },
  { nombre: "Audiovisual", imagen: audiovisual, url: "/tecnicas/audiovisual" },
  { nombre: "Mosaico", imagen: mosaico, url: "#" },
  { nombre: "Volumen", imagen: volumen, url: "#" },
  { nombre: "Máscaras", imagen: mascaras, url: "/tecnicas/mascaras" },
  { nombre: "Lámparas", imagen: lamparas, url: "#" },
  { nombre: "Diseño", imagen: diseño, url: "#" },
  { nombre: "Dibujo", imagen: dibujo, url: "#" },
];

// Inicializar AOS en el cliente
---

<Layout>
  <section class="bg-gray-900  text-white min-h-screen pt-24 pb-16">
    <div class="container justify-items-center mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold mb-8 text-center">Proyectos y Técnicas Artísticas</h1>
      <p class="text-lg text-center max-w-3xl mx-auto mb-12">20 años de experiencias en el aula</p>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {tecnicas.map((tecnica, index) => (
          <Card
            nombre={tecnica.nombre}
            imagen={tecnica.imagen}
            delay={index * 100}
            url={tecnica.url}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>

<script>
  import AOS from 'aos';
  AOS.init();
</script>