---
import Layout from '../layouts/Layout.astro';

const tecnicas = [
  { nombre: "Pintura", imagen: "/assets/images/pintura.jpg" },
  { nombre: "Collage", imagen: "/assets/images/collage.jpg" },
  { nombre: "Audiovisual", imagen: "/assets/images/audiovisual.jpg" },
  { nombre: "Mosaico", imagen: "/assets/images/mosaico.jpg" },
  { nombre: "Volumen", imagen: "/assets/images/volumen.png" },
  { nombre: "Máscaras", imagen: "/assets/images/mascaras.jpg" },
  { nombre: "Lámparas", imagen: "/assets/images/lamparas.jpg" },
  { nombre: "Diseño", imagen: "/assets/images/diseño.jpg" },
  { nombre: "Dibujo", imagen: "/assets/images/dibujo.jpg" },
];
---

<Layout>
  <section class="bg-gray-900 text-white  min-h-screen py-16">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl md:text-5xl font-bold mb-12 text-center">Técnicas Artísticas</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {tecnicas.map((tecnica) => (
          <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300">
            <img src={tecnica.imagen} alt={tecnica.nombre} class="w-full h-48 object-cover" />
            <div class="p-6">
              <h2 class="text-2xl font-semibold text-center">{tecnica.nombre}</h2>
            </div>
          </div>
        ))}
      </div>
    </div>
  </section>
</Layout>