---
const { nombre, imagen, delay } = Astro.props;
---

<div
  class="border border-white rounded-2xl overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300 bg-gray-800"
  data-aos="zoom-in"
  data-aos-duration="800"
  data-aos-delay={delay}
>
  <img src={imagen.src} alt={nombre} class="w-full h-48 object-cover" />
  <div class="p-4">
    <h2 class="text-xl font-semibold text-center">{nombre}</h2>
  </div>
</div>